body {
    background-image: url('background.jpg'); /* Фоновое изображение */
    background-size: cover; /* Растянуть фон на весь экран */
    background-position: center; /* Центрирование фона */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh; /* Высота 100% экрана */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Цвет текста */
}

.container {
    padding: 20px;
    text-align: center;
}

h1, p {
    margin: 10px 0;
}

button {
    padding: 20px 50px;
    background-image: url('button-bg.png'); /* Изображение для кнопки */
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Легкая тень */
    transition: opacity 0.3s ease;
}

button:hover {
    opacity: 0.8;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

