body {
    background-image: url('assets/background.jpg'); /* Устанавливаем фоновое изображение */
    background-size: cover; /* Изображение растягивается на весь экран */
    background-position: center; /* Центрируем изображение */
    margin: 0;
    padding: 0;
    height: 100vh; /* Высота на весь экран */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Цвет текста */
    text-align: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный черный фон для текста */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Легкая тень для контейнера */
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

button {
    padding: 15px 40px;
    background-image: url('assets/button-bg.png'); /* Фоновое изображение для кнопки */
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Легкая тень */
    transition: opacity 0.3s ease;
    margin: 10px; /* Отступ между кнопками */
}

button:hover {
    opacity: 0.8; /* Эффект при наведении */
}

#walletInfo {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid white; /* Обводка */
    border-radius: 10px;
}
